* {   
  font-weight: 100;
}
  
#qfp{
  display: flex; 
  align-items: flex-start;
}
  
#qfp .left {
  max-width: 250px;
}

#qfp .qfp-container {
  width: 100%;
  padding-left: 10px;
}

#qfp #qfp-imageLoader {
  display: none;
}

#qfp h1 {
  font-size: 22px ;
  padding-left: 10px;
  margin-bottom: 10px ;
}

#qfp h2 {
  margin-top: 10px;
  font-size: 14px ;
  
}
  
#qfp .options-button {
  margin-right: 10px;
}

#qfp canvas {
  margin-top: 0px;
  border: 2px solid #000;
  box-shadow: 5px 5px 5px grey;
}

#qfp a {
  color: #000;
  cursor: pointer;
}

#qfp a#qfp-lnkDownload {
  color: #fff;
}

#qfp .section {
  border-top: 1px solid #ddd;
  background: #fff;
  padding: 0px 0 10px ;
}